<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>Tenney</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Tenney uses the microphone to analyze pitch in real time for tuning. Audio isn’t recorded or stored.</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>microphone</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
